@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  padding-top: 5rem;
}

.app {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #1e1e1e;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  cursor: default;
}

p, li, a {
  font-family: "Josefin sans";
  color: rgba(30, 30, 30, 0.7);
}

h1 {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "nunito sans";
  font-weight: 700;
}

button {
  cursor: pointer;
  font-family: "Josefin sans";
}

.uil {
  font-size: 1.2rem;
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 3rem;
}
.header li {
  list-style: none;
}
.header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(30, 30, 30, 0.3);
  height: 3rem;
}
.header .top .actions a {
  padding: 2px;
}
.header .top .actions .cart {
  position: relative;
}
.header .top .actions .cart span {
  position: absolute;
  background: rgb(247, 37, 37);
  color: white;
  height: 1.1rem;
  width: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -0.3rem;
  right: -0.7rem;
  border-radius: 50%;
  font-size: 0.8rem;
}
.header .top .actions .search, .header .top .actions .cart, .header .top .actions .menu {
  margin-left: 1.2rem;
}
.header .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}
.header .bottom .dropdown-button {
  position: relative;
}
.header .bottom .dropdown-button button {
  margin: 0 0.5rem;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.header .bottom .dropdown-button .dropdown-container {
  position: absolute;
  background: white;
  box-shadow: 0 5px 5px rgba(30, 30, 30, 0.15);
  text-transform: capitalize;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  z-index: 1000;
}
.header .bottom .dropdown-button .dropdown-container li {
  margin: 0.5em 0;
}
.header .bottom .dropdown-button .dropdown-container .brand .the-brands {
  display: flex;
}
.header .bottom .dropdown-button .dropdown-container .brand .the-brands .type-1, .header .bottom .dropdown-button .dropdown-container .brand .the-brands .type-2 {
  margin: 0 0.5rem;
}
.header .bottom .dropdown-button .watches {
  width: 35rem;
}
.header .bottom .dropdown-button .accessories {
  width: 10rem;
}

/* HOME */
#home .bg-image {
  height: 35rem;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#home .bg-image .wrapper {
  color: #dddddd;
  position: absolute;
  left: 3rem;
  bottom: 5rem;
  width: 40%;
}
#home .bg-image .wrapper h1 {
  font-size: 2.5rem;
}
#home .bg-image .wrapper p {
  color: #dddddd;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
#home .bg-image .wrapper a {
  color: #dddddd;
  background: black;
  font-family: "Josefin sans";
  padding: 1rem 2rem;
}
#home .services {
  display: grid;
  padding: 2rem 3rem;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
#home .services a {
  height: 17rem;
  padding: 1rem;
}
#home .services a a {
  color: #dddddd;
  font-size: 2rem;
  z-index: -10;
}
#home .brands {
  padding: 2rem 3rem;
}
#home .brands h1 {
  text-align: center;
  margin: 1rem 0;
}
#home .brands .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
#home .brands .wrapper .item {
  width: 100%;
}
#home .brands .wrapper .item p {
  font-weight: 700;
  font-size: 1.1rem;
}
#home .brands .wrapper .item a {
  height: 20rem;
  overflow: hidden;
}
#home .brands .wrapper .item a img {
  height: 90%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* WATCHES */
#watches {
  padding: 3rem;
}
#watches .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
#watches .wrapper .item {
  height: 20rem;
}
#watches .wrapper .item .img {
  height: 75%;
  overflow: hidden;
}
#watches .wrapper .item .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* RETURNS POLICY, DEPOSIT POLICY, PRIVACY POLICY, SHIPPING POLICY, TERMS OF SERVICE, REPAIRS, REFURBISHING, VALUATION */
#returns-policy, #deposit-policy, #privacy-policy, #shipping-policy, #terms-of-service, #repairs, #refurbishing, #valuation {
  padding: 3rem;
  display: flex;
  justify-content: center;
}
#returns-policy h1, #deposit-policy h1, #privacy-policy h1, #shipping-policy h1, #terms-of-service h1, #repairs h1, #refurbishing h1, #valuation h1 {
  text-transform: uppercase;
  text-align: center;
}
#returns-policy .wrapper, #deposit-policy .wrapper, #privacy-policy .wrapper, #shipping-policy .wrapper, #terms-of-service .wrapper, #repairs .wrapper, #refurbishing .wrapper, #valuation .wrapper {
  max-width: 45rem;
}
#returns-policy ul, #deposit-policy ul, #privacy-policy ul, #shipping-policy ul, #terms-of-service ul, #repairs ul, #refurbishing ul, #valuation ul {
  list-style: disc;
}

/* PRODUCT DETAIL */
#detail {
  padding: 0 3rem;
}
#detail .wrapper {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}
#detail .wrapper .img {
  height: 30rem;
  aspect-ratio: 0.9;
}
#detail .wrapper .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#detail .wrapper .details .back-button {
  margin-bottom: 1rem;
}
#detail .wrapper .details .back-button a {
  text-transform: capitalize;
}
#detail .wrapper .details h1 {
  margin-bottom: 1rem;
}
#detail .wrapper .details a {
  text-transform: uppercase;
}
#detail .wrapper .details p.price {
  margin: 2.5rem 0 1rem 0;
  font-size: 1.3rem;
}
#detail .wrapper .pay {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#detail .wrapper .pay .actions {
  display: flex;
  align-items: center;
}
#detail .wrapper .pay .actions .quantity {
  margin: 0 0.5rem;
  font-family: "Josefin sans";
  color: rgba(30, 30, 30, 0.7);
}
#detail .wrapper .pay .actions button {
  background: transparent;
  border: 1px solid rgba(30, 30, 30, 0.7);
  height: 1.7rem;
  width: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#detail .wrapper .pay .actions button .uil {
  padding: 0;
  margin: 0;
  color: rgba(30, 30, 30, 0.7);
}
#detail .wrapper .pay button.cart, #detail .wrapper .pay button.platform {
  width: 15rem;
  height: 3rem;
  margin: 0.5rem;
  text-transform: capitalize;
  border: none;
}
#detail .wrapper .pay button.cart {
  background: #1e1e1e;
  color: #dddddd;
}
#detail .wrapper .pay button.platform {
  border: 1px solid #1e1e1e;
  background: transparent;
}

/* SHOPPING CART */
#cart {
  padding: 1rem 3rem;
}
#cart .wrapper {
  display: flex;
  justify-content: space-between;
}
#cart .wrapper .items {
  width: 60%;
  max-height: 80vh;
  overflow-y: scroll;
}
#cart .wrapper .items::-webkit-scrollbar {
  display: none;
}
#cart .wrapper .items .product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(30, 30, 30, 0.3);
  height: 12rem;
  padding: 0 1rem;
}
#cart .wrapper .items .product button.delete {
  height: 1.5rem;
  aspect-ratio: 1;
  border: none;
  background: #1e1e1e;
  color: #dddddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cart .wrapper .items .product button.delete .uil {
  font-size: 0.8rem;
}
#cart .wrapper .items .product .img img {
  width: 5rem;
}
#cart .wrapper .checkout {
  background: rgba(221, 221, 221, 0.5);
  width: 30%;
  padding: 1rem 3rem;
}
#cart .wrapper .checkout form {
  width: 100%;
  position: relative;
  height: 3rem;
  margin: 2rem 0;
}
#cart .wrapper .checkout form input {
  padding: 0 1rem;
  border: 1px solid rgba(30, 30, 30, 0.5);
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 5rem;
}
#cart .wrapper .checkout form input::-moz-placeholder {
  font-family: "Josefin sans";
}
#cart .wrapper .checkout form input::placeholder {
  font-family: "Josefin sans";
}
#cart .wrapper .checkout form button {
  padding: 0 1rem;
  border: 1px solid rgba(30, 30, 30, 0.5);
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
#cart .wrapper .checkout .subtotal, #cart .wrapper .checkout .shipping, #cart .wrapper .checkout .total {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  font-family: "Josefin sans";
  text-transform: capitalize;
}
#cart .wrapper .checkout .subtotal .key, #cart .wrapper .checkout .shipping .key, #cart .wrapper .checkout .total .key {
  color: rgba(30, 30, 30, 0.7);
}
#cart .wrapper .checkout .subtotal .value, #cart .wrapper .checkout .shipping .value, #cart .wrapper .checkout .total .value {
  color: #1e1e1e;
}
#cart .wrapper .checkout .total {
  margin: 1.5rem 0;
}
#cart .wrapper .checkout .total p {
  font-size: 1.5rem;
}
#cart .wrapper .checkout button.payment {
  height: 3rem;
  width: 100%;
  margin: 0.5rem;
  border: none;
}
#cart .wrapper .checkout button.checkout {
  background: #1e1e1e;
  color: #dddddd;
}
#cart .wrapper .checkout button.platform {
  background: transparent;
  border: 1px solid rgba(30, 30, 30, 0.5);
}

/* FOOTER */
.footer {
  display: flex;
  background: #1e1e1e;
  color: white;
  justify-content: space-between;
  padding: 3rem;
}
.footer p {
  color: white;
}
.footer h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.footer li {
  color: white;
  margin-bottom: 0.5em;
  list-style: none;
}
.footer a {
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
}
.footer a:hover {
  color: white;
}
.footer ul {
  margin-bottom: 1rem;
}
.footer .uil {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.footer input {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}
.footer button {
  padding: 0.5em 1rem;
  background: black;
  border: none;
  color: white;
}

.actions {
  display: flex;
  align-items: center;
}
.actions .quantity {
  margin: 0 0.5rem;
  font-family: "Josefin sans";
  color: rgba(30, 30, 30, 0.7);
}
.actions button {
  background: transparent;
  border: 1px solid rgba(30, 30, 30, 0.7);
  height: 1.7rem;
  width: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actions button .uil {
  padding: 0;
  margin: 0;
  color: rgba(30, 30, 30, 0.7);
}

/* MEDIA QUERIES */
@media (max-width: 767px) {
  /* HEADER */
  .header {
    padding: 0 1rem;
  }
  /* HOME */
  #home .bg-image .wrapper {
    left: 1rem;
    bottom: 3rem;
    width: 80%;
  }
  #home .bg-image .wrapper h1 {
    font-size: 2rem;
  }
  #home .services {
    padding: 2rem 1rem;
    grid-template-columns: 1fr;
  }
  #home .brands {
    padding: 2rem 1rem;
  }
  #home .brands .wrapper {
    grid-template-columns: 1fr;
  }
  /* WATCHES */
  #watches {
    padding: 1rem;
  }
  #watches .wrapper {
    grid-template-columns: 1fr;
  }
  /* PRODUCT DETAIL */
  #detail {
    padding: 0 1rem;
  }
  #detail .wrapper {
    flex-direction: column;
    position: relative;
    padding-top: 2rem;
  }
  #detail .wrapper .back-button {
    position: absolute;
    top: 0;
  }
  #detail .wrapper .pay button.cart, #detail .wrapper .pay button.platform {
    width: 100%;
  }
}/*# sourceMappingURL=App.css.map */