@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  padding-top: 5rem;
}

.app {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #1e1e1e;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  cursor: default;
}

p, li, a {
  font-family: "Josefin sans";
  color: rgba(30, 30, 30, 0.7);
}

h1 {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "nunito sans";
  font-weight: 700;
}

button {
  cursor: pointer;
  font-family: "Josefin sans";
}

.uil {
  font-size: 1.2rem;
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 3rem;
}
.header li {
  list-style: none;
}
.header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(30, 30, 30, 0.3);
  height: 3rem;
}
.header .top .actions {
  display: flex;
}
.header .top .actions .uil {
  margin-left: 1.5rem;
}
.header .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}
.header .bottom .dropdown-button {
  position: relative;
}
.header .bottom .dropdown-button button {
  margin: 0 0.5rem;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.header .bottom .dropdown-button .dropdown-container {
  position: absolute;
  background: white;
  box-shadow: 0 5px 5px rgba(30, 30, 30, 0.15);
  text-transform: capitalize;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  z-index: 1000;
}
.header .bottom .dropdown-button .dropdown-container li {
  margin: 0.5em 0;
}
.header .bottom .dropdown-button .dropdown-container .brand .the-brands {
  display: flex;
}
.header .bottom .dropdown-button .dropdown-container .brand .the-brands .type-1, .header .bottom .dropdown-button .dropdown-container .brand .the-brands .type-2 {
  margin: 0 0.5rem;
}
.header .bottom .dropdown-button .watches {
  width: 35rem;
}
.header .bottom .dropdown-button .accessories {
  width: 10rem;
}

/* HOME */
#home .bg-image {
  height: 35rem;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -20;
}
#home .bg-image .wrapper {
  color: #dddddd;
  position: absolute;
  left: 3rem;
  bottom: 5rem;
  width: 40%;
}
#home .bg-image .wrapper h1 {
  font-size: 2.5rem;
}
#home .bg-image .wrapper p {
  color: #dddddd;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
#home .bg-image .wrapper a {
  color: #dddddd;
  background: black;
  font-family: "Josefin sans";
  padding: 1rem 2rem;
}

/* RETURNS POLICY, DEPOSIT POLICY, PRIVACY POLICY, SHIPPING POLICY, TERMS OF SERVICE, REPAIRS, REFURBISHING, VALUATION */
#returns-policy, #deposit-policy, #privacy-policy, #shipping-policy, #terms-of-service, #repairs, #refurbishing, #valuation {
  padding: 3rem;
  display: flex;
  justify-content: center;
}
#returns-policy h1, #deposit-policy h1, #privacy-policy h1, #shipping-policy h1, #terms-of-service h1, #repairs h1, #refurbishing h1, #valuation h1 {
  text-transform: uppercase;
  text-align: center;
}
#returns-policy .wrapper, #deposit-policy .wrapper, #privacy-policy .wrapper, #shipping-policy .wrapper, #terms-of-service .wrapper, #repairs .wrapper, #refurbishing .wrapper, #valuation .wrapper {
  max-width: 45rem;
}
#returns-policy ul, #deposit-policy ul, #privacy-policy ul, #shipping-policy ul, #terms-of-service ul, #repairs ul, #refurbishing ul, #valuation ul {
  list-style: disc;
}

/* FOOTER */
.footer {
  display: flex;
  color: white;
  background: #1e1e1e;
  justify-content: space-between;
  padding: 3rem;
}
.footer li {
  list-style: none;
}
.footer h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.footer li {
  margin-bottom: 0.5em;
}
.footer a {
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
}
.footer a:hover {
  color: white;
}
.footer ul {
  margin-bottom: 1rem;
}
.footer .uil {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.footer input {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}
.footer button {
  padding: 0.5em 1rem;
  background: black;
  border: none;
  color: white;
}

/*  *//*# sourceMappingURL=App.css.map */